body {
    margin: 0;
    padding: 0;
    background: linear-gradient(180deg, #ffffff, #3dbcf3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: fantasy;
    font-size: 2em;
}

@media (max-width: 768px) {
    body {
        font-size: 1em;
    }

    h1 {
        font-size: 1em;
        font-family: fantasy;
    }

    .logo {
        max-width: 70%;
        height: auto;
    }
}

.container {
    max-width: 100%;
    text-align: center; /* Center the text inside the container */
}

#chat-container {
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 800px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}

#chat-container p {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

h1 {
    color: #fff;
    font-size: 4em;
    margin-top: 40px;
}

img {
    display: block;
    margin: auto;
}

#user-input {
    width: 80%;
    padding: 20px;
    color: black;
    font-size: 1em;
    border-radius: 20px;
}

.system-message {
    color: #080300;
    font-size: 1em;
}

.success-message {
    color: red !important;
}

/* Style for the "click here to provide information" button with rounded corners and updated text */
#infoButton {
    border: rgb(0, 0, 0);
    padding: 25px 30px;
    font-size: 1.2em;
    border-radius: 25px; /* Set border-radius for rounded corners */
    background-color: #fbfbfb;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}

#infoButton:hover {
    background-color: #45a049;
}

/* Center the logo image */
.logo {
    text-align: center;
    width: 33.33%;
    margin: 20px auto; /* Center the image horizontally and add space at the top */
}

/* Center the footer text */
.footer {
    margin-top: 50px;
    text-align: center;
    color: #fff;
}
