body {
    margin: 0;
    padding: 20px;
    background: linear-gradient(180deg, #ffffff, #ffffff);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-size-adjust: 100%;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2em;
}

@media (max-width: 768px) {
    body {
        font-size: 1em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        padding-top: 20%; /* Increase padding for mobile screens */
    }

    h1 {
        color: #fff;
        font-size: 2em;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-top: 15%; /* Use percentage for responsive design */
    }

    .logo {
        max-width: 100%;
        height: auto;
    }
}

.container {
    max-width: 100%;
    text-align: center;
}


#chat-container {
    background: rgb(255, 255, 255);
    text-align: center;
    border: 0px solid #ffffff;
    padding: 20px;
    max-width: 800px;
    max-height: 70vh;
    overflow-y: auto;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin: 20px auto;
}

#chat-container p {
    text-align: center;
    font-size: 1em;
    margin: 0;
}

h1 {
    color: #fff;
    font-size: 4em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 50px;
}

img {
    display: block;
    margin: auto;
}

#user-input {
    width: 80%;
    padding: 20px;
    color: rgb(0, 0, 0);
    font-size: 1em;
    border: 0px solid #ffffff;
    border-radius: 20px;
}

.system-message {
    color: #000000;
    font-size: 1em;
}

.success-message {
    color: red !important;
}

#infoButton {
    border: none;
    padding: 25px 30px;
    font-size: 1.2em;
    border-radius: 25px;
    background-color: #fbfbfb;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: background-color 0.3s;
}

#infoButton:hover {
    background-color: #50d0ff;
}

.logo {
    text-align: center;
    width: 50%;
    margin: 20px auto;
}


.footer {
    margin-top: 50px;
    text-align: center;
    color: #060000;
}
