

.snowflake {
    position: fixed;
    width: 10px;
    height: 10px;
    background: url('https://github.com/Just-Krispy/Return_Rover/tree/main/images/snowflake.png') no-repeat center/contain;
    pointer-events: none;
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(calc(100vh - 10px));
    }
}
