# Dependencies
node_modules/

# Cypress
automations/cypress/screenshots/
automations/cypress/videos/
automations/cypress/downloads/
automations/cypress/cypress/

# OS files
.DS_Store
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/

# Misc
null
*.log
